<h1><%= "Application: #{@application.name}" %></h1>

<div>
<% @application.pet_applications.each do |pet_application| %>
    <%= pet_application.pet.name %>
    <% if pet_application.status.nil? %>
      <%= form_with url: "/admin/applications/#{@application.id}/edit", method: :patch do |form| %>
        <%= form.hidden_field :application, value: "#{pet_application.id}" %>
        <%= form.submit "Approve #{pet_application.pet.name}" %>
      <% end %>
    <% elsif pet_application.status == "Approve" %>
      <span> Approved </span>
    <% end %>
<% end %>
</div>
